<nav class="navbar">
  <div class="container-fluid">
    <h1 style="color: white;">Employee Dashboard</h1>
    <div class="btn d-flex">
      <button (click)="clickAddemployee()" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary">Add Employee</button>
      <button routerLink="/home" class="btn btn-success mx-2">Home</button>
    </div>
  </div>
</nav>
<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col"> Employee Id </th>
      <th scope="col"> First Name </th>
      <th scope="col"> Last Name </th>
      <th scope="col"> Email </th>
      <th scope="col"> Mobile </th>
      <th scope="col"> salary</th>
      <th scope="col"> Action </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of employeeData">
      <td>{{row.id}}</td>
      <td>{{row.firstName}}</td>
      <td>{{row.lastName}}</td>
      <td>{{row.email}}</td>
      <td>{{row.mobile}}</td>
      <td>{{row.salary}}</td>
      <td>
        <button (click)="onEdit(row)" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Edit</button>
        <button (click)="deleteEmployee(row)" class="btn btn-danger mx-3">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Employee Detail</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup] ="formValue">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">First Name </label>
            <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"><br>
            <span class="text-danger" *ngIf= "formValue.controls['firstName'].dirty && formValue.hasError('required','firstName')">*First Nmae is required</span>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"> last Name</label>
            <input type="text" formControlName="lastName" class="form-control" id="exampleInputPassword1"><br>
            <span class="text-danger" *ngIf= "formValue.controls['lastName'].dirty && formValue.hasError('required','lastName')">*Last Nmae is required</span>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"> Email ID </label>
            <input type="email" formControlName="email" class="form-control" id="exampleInputPassword1"><br>
            <span class="text-danger" *ngIf= "formValue.controls['email'].dirty && formValue.hasError('required','email')">*Email ID is required</span>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"> Mobile No </label>
            <input type="text" formControlName="mobile" class="form-control" id="exampleInputPassword1"><br>
            <span class="text-danger" *ngIf= "formValue.controls['mobile'].dirty && formValue.hasError('required','mobile')">*Mobile No is required</span>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"> Salary </label>
            <input type="text" formControlName="salary" class="form-control" id="exampleInputPassword1"><br>
            <span class="text-danger" *ngIf= "formValue.controls['salary'].dirty && formValue.hasError('required','salary')">*Salary is required</span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" *ngIf= "showAdd" [disabled]="!formValue.valid" class="btn btn-primary" (click)="postEmployeeDetails()">Add</button>
        <button type="button" *ngIf= "showUpdate" [disabled]="!formValue.valid" class="btn btn-primary" (click)="updateEmployeeDetails()">Update</button>
      </div>
    </div>
  </div>
</div>